@using System.Web.UI.HtmlControls
@using TokenExWebDemo.Models
@model TokenExWebDemo.Models.IframeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2>TokenEx IFrame Demo</h2>

@if (ViewBag.token != null)
{
    <div id="results" class="show">SUCCESS! <br />Token: @ViewBag.token</div>
    @Html.ActionLink("Return to Form", "Index", null, new { @class = "btnReturn" });
}
else
{
    using (Html.BeginForm("Index", "Iframe", FormMethod.Post, new { name = "iframeform", id = "iframeform", @class = "hidden" }))
    {
        @Html.HiddenFor(model => model.IframeData, new { @id = "iframeData" })
        @Html.HiddenFor(model => model.Token, new { @id = "token" })

        <div class="row">
            <div class="half">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @id = "firstName", @class = "" })
            </div>
            <div class="half">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @id = "lastName", @class = "" })
            </div>
        </div>
        <hr />
        <label>Credit Card Number</label>
        <div id="tokenExIframe" width="100%" scrolling="no" frameborder="0" style="height: 61px;"></div>
        <label>Expiration Date</label>
        <div class="row">
            <div class="half">
                @Html.DropDownListFor(model => model.ExpMonth, IframeViewModel.Months, new { @id = "expiry_month", data_val = false })
            </div>
            <div class="half">
                @Html.DropDownListFor(model => model.ExpYear, IframeViewModel.Years, new { @id = "expiry_year", data_val = false })
            </div>
        </div>
        @Html.LabelFor(model => model.CVV)
        @Html.TextBoxFor(model => model.CVV, new { @id = "cvv", @class = "", autocomplete = "off", @maxlength = "4", @Value = "" })

        <input id="btnSubmit" type="submit" value="Submit">
    }
}

<script src="https://test-htp.tokenex.com/iframe/iframe-v3.min.js"></script>
<script>
    var iframeConfig = {
        origin: '@ViewBag.IframeConfiguration.Origin',
        timestamp: '@ViewBag.IframeConfiguration.Timestamp',
        tokenExID: '@ViewBag.IframeConfiguration.TokenExID',
        authenticationKey: '@ViewBag.IframeConfiguration.AuthenticationKey',
        tokenScheme: '@ViewBag.IframeConfiguration.TokenScheme',
        styles: {
            base: 'height:45px;width:98%;border:2px solid #656565;color:#4c4c4c;font-size:16px;margin:5px 0;'
        }
    };
</script>
<script src="../../Scripts/IframeScripts.js"></script>

